<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.googlemeet</string>
	<key>connections</key>
	<dict>
		<key>5AE95495-0957-448E-8BA5-78249634A6BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBB957D5-16B3-40B5-BC9B-834E9D9E092E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2C34C6C-CFE9-4985-A9BC-7BEE9617A7B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBBF6C65-B624-4059-A758-35C2753B0E6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF5C26A4-BD7F-4EE8-BAC1-CF8C7377E036</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD769DF-44A6-4717-812C-6BA0530F23AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBBF6C65-B624-4059-A758-35C2753B0E6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4034F506-5110-4744-8E6A-0F81E2BCD49B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFD769DF-44A6-4717-812C-6BA0530F23AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AE95495-0957-448E-8BA5-78249634A6BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Albin Groen</string>
	<key>description</key>
	<string>Manage your Google Meet rooms</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Meet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>meet - new room</string>
				<key>subtext</key>
				<string>Create a new Google Meet room</string>
				<key>text</key>
				<string>Google Meet - New room</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF5C26A4-BD7F-4EE8-BAC1-CF8C7377E036</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://meet.google.com/new?authuser={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5AE95495-0957-448E-8BA5-78249634A6BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>A new Google Meet room has been created.</string>
				<key>title</key>
				<string>New meeting created!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FBB957D5-16B3-40B5-BC9B-834E9D9E092E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FFD769DF-44A6-4717-812C-6BA0530F23AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://meet.google.com/?authuser={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4034F506-5110-4744-8E6A-0F81E2BCD49B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>meet - my rooms</string>
				<key>subtext</key>
				<string>Shows you all your Google Meet rooms</string>
				<key>text</key>
				<string>Google Meet - My rooms</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2C34C6C-CFE9-4985-A9BC-7BEE9617A7B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EBBF6C65-B624-4059-A758-35C2753B0E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is a workflow that you can use if you want a command to quickly create a new Google Meet room. This will use your default browser with your currently logged in Google account.</string>
	<key>uidata</key>
	<dict>
		<key>4034F506-5110-4744-8E6A-0F81E2BCD49B</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>5AE95495-0957-448E-8BA5-78249634A6BD</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>C2C34C6C-CFE9-4985-A9BC-7BEE9617A7B3</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>CF5C26A4-BD7F-4EE8-BAC1-CF8C7377E036</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>EBBF6C65-B624-4059-A758-35C2753B0E6F</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>FBB957D5-16B3-40B5-BC9B-834E9D9E092E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>FFD769DF-44A6-4717-812C-6BA0530F23AF</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://albingroen.com</string>
</dict>
</plist>
