<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.update-gh-status</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>242523D8-FF63-45D6-8A1A-AA54028556AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66D9EB00-5620-4585-9BBD-A08F223DA5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Albin Groen</string>
	<key>description</key>
	<string>Update my GitHub status</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Update GitHub status</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/scripts/gh-status-manager &amp;&amp; node .</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>66D9EB00-5620-4585-9BBD-A08F223DA5E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>update github status</string>
				<key>subtext</key>
				<string>Update my GitHub status</string>
				<key>text</key>
				<string>Update GitHub status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>242523D8-FF63-45D6-8A1A-AA54028556AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>242523D8-FF63-45D6-8A1A-AA54028556AD</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>66D9EB00-5620-4585-9BBD-A08F223DA5E8</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://albingroen.com</string>
</dict>
</plist>
